body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: red;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
}

h2 {
    color:white;
}

p {
    font-size: 18px;
    color: #007BFF;
}